@use "sit-onyx/style.css";
@use "sit-onyx/breakpoints.scss";
@use "mixins.scss" as *;
@use "theme.scss" as *;

body {
  font-family: var(--onyx-font-family);
  margin: 0;
  background-color: var(--onyx-color-base-background-tinted);
  color: var(--onyx-color-text-icons-neutral-intense);
}

h1 {
  margin-bottom: var(--onyx-spacing-md);
  word-break: break-word;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--onyx-spacing-xl);
  margin-bottom: var(--onyx-spacing-md);
  word-break: break-word;
}

p {
  margin-top: var(--onyx-spacing-md);
  margin-bottom: var(--onyx-spacing-md);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.page-content {
  max-width: var(--onyx-grid-max-width);
  padding: var(--onyx-spacing-xl) var(--onyx-grid-margin);
  margin-inline: var(--onyx-grid-margin-inline);
}
