@use "@fontsource/nunito/latin" as *;
@use "layouts.scss" as *;
@use "mixins.scss" as *;
@use "variables.scss" as *;

body {
  font-family: Nunito, sans-serif;
  margin: 0;
  background-color: var(--lr-color-background);
  color: var(--lr-color-font);
}

html {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 32px;
  margin-bottom: 16px;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: var(--lr-color-primary);
}
