.text {
  &--gradient {
    background: var(--lr-color-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--reflect {
    -webkit-box-reflect: below calc(-1 * var(--onyx-spacing-md))
      linear-gradient(transparent, var(--onyx-color-opacity-soft));
  }

  &--soft {
    color: var(--onyx-color-text-icons-neutral-soft);
  }

  &--xl {
    font-size: var(--onyx-font-size-xl);
    line-height: var(--onyx-font-line-height-xl);
  }

  &--2xl {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }

  &--3xl {
    font-size: 4rem;
    line-height: 4rem;
  }
}
