// global shared app styles here...
@use "theme";

:root {
  --lr-color-gradient: linear-gradient(
    to right,
    var(--lr-color-green-600),
    var(--lr-color-blue-600)
  );
}

.text {
  &--gradient {
    background: var(--lr-color-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
    -webkit-box-reflect: below calc(-1 * var(--onyx-spacing-md))
      linear-gradient(transparent, var(--onyx-color-opacity-soft));
  }
}
